In [3]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from sqlalchemy import create_engine
import pyodbc

In [4]:
print(pyodbc.drivers())

['SQL Server', 'MySQL ODBC 8.0 ANSI Driver', 'MySQL ODBC 8.0 Unicode Driver', 'SQL Server Native Client 11.0', 'SQL Server Native Client RDA 11.0', 'Oracle in OraDB21Home1', 'ODBC Driver 18 for SQL Server', 'ODBC Driver 17 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)']

In [60]:
driver = '{ODBC Driver 17 for SQL Server}'
host = 'HOAIBAO'
database = 'Wisdom_rubberProject_Practice_3'
trusted_connection = 'yes'
# Create the connection string
connection_string = f"DRIVER={driver};SERVER={host};DATABASE={database};Trusted_Connection={trusted_connection}"

In [9]:
# connection = pyodbc.connect(connection_string)
# connection.close()

In [64]:
def extract_from_mssql(connection_str):
    connection = pyodbc.connect(connection_str)
    print('connected')
    data_dict = {}
    # input the connection string
    # retrive tables' name
    sql_retrive_table_names = "select name from sys.tables where name <> 'sysdiagrams';"
    df_tableNames = pd.read_sql(sql_retrive_table_names, connection)
    # print(df_tableNames)
    for table in df_tableNames['name']:
        sql_retrive_data = f'select * from [{table}]'
        data_dict[table] = pd.read_sql(sql_retrive_data, connection)
        
    # create a dictionary with keys are name of the tables
    # retrive data, put into the dictionary as dataframe
    # return a dictionary with keys are name of the tables and values are content inside each table
    connection.close()
    print('disconnected')
    return data_dict

In [65]:
data_raw = extract_from_mssql(connection_string)

connected
disconnected

C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tableNames = pd.read_sql(sql_retrive_table_names, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)
C:\Users\tranh\AppData\Local\Temp\ipykernel_18696\1180596050.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_dict[table] = pd.read_sql(sql_retrive_data, connection)

In [72]:
def transform(data_dict):
    # input: a dict of tables name and data
    for key, df in data_dict.items():
        print(
            f'table: {key}\n',
            df.info()
        )
    # input: a table of data?
    return # clean data

In [73]:
transform(data_raw)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EnvironmentID   5 non-null      int64
 1   RobotTappingID  5 non-null      int64
 2   WindDirection   5 non-null      object
 3   WindSpeed       5 non-null      float64
 4   Temperature     5 non-null      float64
 5   Rainfall        5 non-null      float64
 6   Time            5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 408.0+ bytes
table: Environment
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DroneID  5 non-null      int64
 1   RobotID  5 non-null      int64
 2   ScsID    5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes
table: Drone
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DroneInfoID      5 non-null      int64
 1   DroneID          5 non-null      int64
 2   Direction        5 non-null      object
 3   Speed            5 non-null      float64
 4   Height           5 non-null      float64
 5   CurrentLocation  5 non-null      object
dtypes: float64(2), int64(2), object(2)
memory usage: 368.0+ bytes
table: DroneInformation
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DroneImageID  5 non-null      int64
 1   DroneID       5 non-null      int64
 2   TreeID        5 non-null      int64
 3   Image         5 non-null      object
dtypes: int64(3), object(1)
memory usage: 288.0+ bytes
table: DroneImage
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ChargingStationID   5 non-null      int64
 1   Location            5 non-null      object
 2   MaxRobotNumber      5 non-null      int64
 3   CurrentRobotNumber  5 non-null      int64
 4   Status              5 non-null      object
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes
table: ChargingStation
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChargingStatusID   5 non-null      int64
 1   DroneID            5 non-null      int64
 2   ChargingStationID  5 non-null      int64
 3   CurrentBattery     5 non-null      float64
 4   Status             5 non-null      bool
dtypes: bool(1), float64(1), int64(3)
memory usage: 293.0 bytes
table: ChargingStatus
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TaskID        5 non-null      int64
 1   RobotID       5 non-null      int64
 2   PlanID        5 non-null      int64
 3   ActionDetail  5 non-null      object
dtypes: int64(3), object(1)
memory usage: 288.0+ bytes
table: Task
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryID    5 non-null      int64
 1   CountryName  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
table: Country
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionID    10 non-null     int64
 1   CountryID   10 non-null     int64
 2   RegionName  10 non-null     object
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes
table: Region
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AddressID    10 non-null     int64
 1   RegionID     10 non-null     int64
 2   City         10 non-null     object
 3   AddressLine  10 non-null     object
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes
table: Address
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AccountID  5 non-null      int64
 1   Username   5 non-null      object
 2   Password   5 non-null      object
 3   Role       5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
table: Account
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   UserInfoID   5 non-null      int64
 1   FirstName    5 non-null      object
 2   LastName     5 non-null      object
 3   Gender       5 non-null      object
 4   DateOfBirth  5 non-null      object
 5   AddressID    5 non-null      int64
 6   AccountID    5 non-null      int64
 7   Email        5 non-null      object
 8   PhoneNumber  5 non-null      object
 9   CreatedDate  5 non-null      datetime64[ns]
 10  UpdateDate   5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(6)
memory usage: 568.0+ bytes
table: UserInfo
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FieldID    5 non-null      int64
 1   RegionID   5 non-null      int64
 2   FieldName  5 non-null      object
 3   Area       5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 288.0+ bytes
table: Field
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TreeID    5 non-null      int64
 1   FieldID   5 non-null      int64
 2   Location  5 non-null      object
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
table: RubberTree
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TreeInfoID     5 non-null      int64
 1   TreeID         5 non-null      int64
 2   TopHeight      5 non-null      float64
 3   CrownHeight    5 non-null      float64
 4   Diameter       5 non-null      float64
 5   Circumference  5 non-null      float64
 6   CheckDate      5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 408.0 bytes
table: RubberTreeInformation
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PlanID       5 non-null      int64
 1   Name         5 non-null      object
 2   Description  5 non-null      object
 3   StartDate    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 288.0+ bytes
table: Plan
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PlanDetailID  5 non-null      int64
 1   FieldID       5 non-null      int64
 2   PlanID        5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes
table: PlanDetail
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   LidarID  5 non-null      int64
 1   Model    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
table: Lidar
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CameraID  5 non-null      int64
 1   Model     5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
table: Camera
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RadarID  5 non-null      int64
 1   Model    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
table: Radar
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ScsID     5 non-null      int64
 1   LidarID   5 non-null      int64
 2   CameraID  5 non-null      int64
 3   RadarID   5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes
table: SensorControlSystem
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RobotID    5 non-null      int64
 1   TypeRobot  5 non-null      object
 2   Model      5 non-null      object
 3   Status     5 non-null      bool
dtypes: bool(1), int64(1), object(2)
memory usage: 253.0+ bytes
table: Robot
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EnergyID         5 non-null      int64
 1   RobotID          5 non-null      int64
 2   RemainingTime    5 non-null      object
 3   RemainingEnergy  5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 288.0+ bytes
table: Energy
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RobotTappingID  5 non-null      int64
 1   RobotID         5 non-null      int64
 2   TreeID          5 non-null      int64
 3   Direction       5 non-null      object
 4   Speed           5 non-null      float64
 5   Quantity        5 non-null      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 368.0+ bytes
table: RobotTapping
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BladeID         5 non-null      int64
 1   RobotTappingID  5 non-null      int64
 2   TappingStatus   5 non-null      object
 3   Angle           5 non-null      float64
 4   Depth           5 non-null      float64
 5   BladeStatus     5 non-null      object
dtypes: float64(2), int64(2), object(2)
memory usage: 368.0+ bytes
table: Blade
 None

In [71]:
def load(dw_conn_str, data_dict): # push data to data warehouse
    # input: a connection string to data warehouse
    # retrive tablename from the data warehouse
    connection = pyodbc.connect(connection_string)
    #
    
    
    connection.close()
    return # clean data